@tailwind base;
@tailwind components;
@tailwind utilities;

.validation-error li {
    @apply alert alert-error;
}

.job-popup {
    transform: translate(-50%, calc(-80%));
}

.z-over-map {
    z-index: 2000;
}

.tox-tinymce-aux {
    z-index: 3000 !important;
}