@page
@model LoginModel

@{
    ViewData["Title"] = "Log ind";
}

<div class="w-full h-full flex justify-center items-center">
    <div class="w-full max-w-xl">
        <h1 class="text-3xl font-bold mb-6">@ViewData["Title"]</h1>
        <div class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="validation-error"></div>
                    <div class="form-control">
                        <label asp-for="Input.Email" class="label label-text"></label>
                        <input asp-for="Input.Email" class="input input-bordered"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-control">
                        <label asp-for="Input.Password" class="label label-text"></label>
                        <input asp-for="Input.Password" class="input input-bordered"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-control">
                        <label asp-for="Input.RememberMe" class="cursor-pointer label label-text">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                            <input asp-for="Input.RememberMe"  class="checkbox"/>
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Log Ind</button>
                    </div>
                </form>
                <div class="mt-5 flex justify-center">
                    <a href="register" class="hover:underline">Mangler du en bruger så opret her!</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
