@page
@model RegisterModel
@{
    ViewData["Title"] = "Opret Bruger";
}

<div class="w-full h-full flex justify-center items-center">
    <div class="w-full max-w-xl">
        <h1 class="text-3xl font-bold mb-6">@ViewData["Title"]</h1>
        <div class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="validation-error"></div>
                    <div class="flex gap-x-6 flex-wrap">
                        <div class="form-control flex-grow">
                            <label asp-for="Input.FirstName" class="label label-text"></label>
                            <input asp-for="Input.FirstName" class="input input-bordered"/>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-control flex-grow">
                            <label asp-for="Input.LastName" class="label label-text"></label>
                            <input asp-for="Input.LastName" class="input input-bordered"/>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-control">
                        <label asp-for="Input.CompanyName" class="label label-text"></label>
                        <input asp-for="Input.CompanyName" class="input input-bordered"/>
                        <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-control">
                        <label asp-for="Input.Address" class="label label-text"></label>
                        <input asp-for="Input.Address" class="input input-bordered"/>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="flex gap-x-6 flex-wrap">
                        <div class="form-control flex-grow">
                            <label asp-for="Input.City" class="label label-text"></label>
                            <input asp-for="Input.City" class="input input-bordered"/>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-control flex-grow">
                            <label asp-for="Input.Zipcode" class="label label-text"></label>
                            <input asp-for="Input.Zipcode" class="input input-bordered"/>
                            <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-control">
                        <label asp-for="Input.Email" class="label label-text"></label>
                        <input asp-for="Input.Email" class="input input-bordered"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="flex gap-x-6 flex-wrap">
                        <div class="form-control flex-grow">
                            <label asp-for="Input.Password" class="label label-text"></label>
                            <input asp-for="Input.Password" class="input input-bordered"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-control flex-grow">
                            <label asp-for="Input.ConfirmPassword" class="label label-text"></label>
                            <input asp-for="Input.ConfirmPassword" class="input input-bordered"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Opret Bruger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
