@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html class="w-full h-full" data-theme="corporate" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - KDBS</title>
    <link href="~/css/app.min.css" rel="stylesheet"/>
</head>
<body class="w-full h-full">
<div class="w-full h-full">
    <main class="w-full h-full" role="main">
        @RenderBody()
    </main>
</div>
<script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Identity/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>
