@page "/"
@using Microsoft.Extensions.Configuration
@inject IJSRuntime JS
@inject IConfiguration Configuration

<div id="map" class="w-full, h-full"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var key = Configuration.GetValue<string>("BingMaps");
            await JS.InvokeVoidAsync("loadBingMap", key);
        }
        
        [JSInvokable]
        void ClickedOnPin()
        {
            
        }
    }
}
